<nav class="max-w-screen border-b-2 border-gray-100">
  <div class="w-[70%] mx-auto flex justify-between p-5">
    <p class="font-bold text-blue-700 text-xl">bankify</p>
    <div class="flex gap-5">
      <button
        class="bg-blue-600 text-white px-5 py-2 rounded-lg font-semibold"
        routerLink="/login/signup-form"
      >
        Sign in
      </button>
      <button
        class="bg-transparent px-5 py-2 rounded-lg font-semibold"
        routerLink="/login/login-form"
      >
        Login
      </button>
    </div>
  </div>
</nav>
