<div class="flex flex-wrap">
  <div
    name="left"
    class="w-[50%] flex flex-col items-center justify-center gap-5"
  >
    <p
      class="w-[50%] text-center text-5xl font-bold bg-gradient-to-r from-blue-300 to-indigo-600 inline-block text-transparent bg-clip-text drop-shadow-md"
    >
      Future of banking is here
    </p>
    <p class="w-[50%] text-lg italic text-gray-700">
      Experience seamless financial management with our intuitive banking app,
      offering advanced features like instant fund transfers and personalized
      budget tracking.
    </p>
    <button
      class="w-[50%] border text-xl text-white font-bold bg-gradient-to-r from-cyan-500 to-blue-500 border-black shadow-lg rounded-lg p-4"
    >
      See free demo
    </button>
    <p class="text-sm italic text-gray-500">No credit card required</p>
  </div>
  <div name="right image" class="w-[50%]">
    <div class="w-[30rem] mx-auto p-10 flex">
      <img
        class="h-full w-full object-cover drop-shadow-xl rounded-3xl mx-auto"
        src="../../../../assets/images/landing-page-app.jpg"
        alt=""
      />
    </div>
  </div>
</div>
