<form
  #f="ngForm"
  (ngSubmit)="onSubmit(f)"
  action=""
  class="flex flex-col gap-10 w-[30rem] border-2 border-gray-300 shadow-lg p-5 rounded-md"
>
  <label for="" class="text-center font-bold text-xl">Select receiver</label>
  <select name="contact" id="" class="p-3 rounded-lg" ngModel required>
    <option value="" disabled selected class="text-center">
      Select contact
    </option>
    @for(contact of contacts; track contact.name){
    <option [value]="contact.name">{{ contact.name }}</option>
    }
  </select>

  <label for="" class="text-center font-bold text-xl">Select card</label>

  <select name="card" id="" class="p-3 rounded-lg" ngModel required>
    <option value="" disabled selected>Select card</option>
    @for(card of cards; track card.last_digits) {
    <option
      [value]="card.balance"
      class="flex flex-col justify-between font-semibold"
    >
      {{ card.balance }}$ **** **** **** {{ card.last_digits }}
    </option>
    }
  </select>
  <label for="" class="text-center font-bold text-xl">Choose an amount:</label>
  <input
    required
    type="number"
    name="amount"
    id=""
    placeholder="choose an amount"
    class="p-3 rounded-xl font-bold text-center"
    ngModel
  />
  <button
    class="px-5 py-3 rounded-3xl text-lg border-2 border-black font-bold w-[50%] mx-auto hover:bg-black hover:text-white duration-300 transition-all"
  >
    Send
  </button>
</form>
