<div
  class="w-[18rem] h-[10rem] bg-blue-100 rounded-xl p-4 shadow-xl hover:scale-105 transition-all duration-300 cursor-pointer"
  [class]="color"
>
  <div class="flex w-full justify-between">
    <ng-icon class="text-3xl" name="tablerLayersDifference"></ng-icon>
    <ng-icon class="text-3xl" name="tablerBrandVisa"></ng-icon>
  </div>
  <p class="italic text-sm">total balance:</p>
  <p class="font-semibold">{{ balance }} $</p>
  <p class="text-semibold">**** **** **** {{ last_digits }}</p>
  <p class="text-sm text-semibold">{{ exp_date }}</p>
</div>
